{%extends 'base.html'%}
{%block title%}Blogly Home{%endblock%}
{%block content%}

<h2>Blogly Home</h2>
<a href="/users" method="GET">User List</a>
<a href="/tags" method="GET">Tag List</a>
<ul>
    {% for post in all_posts%}
    <ul>
        <li>
            <h3><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
        </li>

        <h5>by <a href="/users/{{post.user_id}}">{{post.p_user.first_name}} {{post.p_user.last_name}}</a></h5>
        {{post.created_at}}
        <p>Tags:
            {% for tag in post.posttags%}
            <a href="/tags/{{tag.id}}">{{tag.name}}</a>
            {%endfor%}
        </p>

    </ul>
    {% endfor %}
</ul>

{%endblock%}